$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Orbitron|Roboto+Mono');

body {
  font-family: 'Orbitron', sans-serif;

  $main-text-color: white;
  $secondary-text-color: black;
  $terminal-header-background: #eeeeee;
  $terminal-body-background: gray;
  $secondary-background-color: white;


  .links {
    text-align: center;

    a {
      margin: 15px;
    }
  }

  .about-me {
    font-family: 'Roboto Mono', monospace;
  }

  .terminal {
    font-family: 'Roboto Mono', monospace;
    padding: 20px;

    .terminal-header {
      background: $terminal-header-background;
      text-align: center;
      border-radius: 5px 5px 0px 0px;
    }

    .terminal-body {
      color: $main-text-color;
      background: $terminal-body-background;
      text-align: left;
      padding: 5px;
      border-radius: 0px 0px 5px 5px;

      .circle {
        border-radius: 50%;
        width: 5px;
        height: 5px;
      }

      .closebtn {
        color: red;
      }

      .skills {
        text-align: center;
        padding: 20px;
      }

      .competencies {

        display: inline-block;
        margin-bottom: 20px;

        h2 {
          text-align: center;
        }

        ul {
          color: $secondary-text-color;
          background: $secondary-background-color;
          text-align: center;
        }
      }

      .blinking {
        position: relative;
        display: inline-block;
      }
      .blinking::after {
        content: "";
        position: absolute;
        top: 0;
        right: -15px;
        display: inline-block;
        background-color: $secondary-background-color;
        vertical-align: top;
        width: 10px;
        height: 100%;
        -webkit-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
      }

      @-webkit-keyframes blink {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }

      @keyframes blink {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }
    }
  }
}
